<div class="d-flex flex-column overflow-auto" style="margin-top:5rem; margin-bottom:8rem">
    <app-search-user-component class="mb-4"></app-search-user-component>
    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
        <a class="btn btn-success ms-auto me-auto" (click)="goToUserAdd()">+</a>
        <div *ngFor="let user of this.listUsers" (click)="goToUser(user)" appBorderMouse="#009688"
            class="d-flex flex-column justify-content-center align-items-center p-1 m-1"
            style="width:14rem; height:20rem">
            <img [src]="user.picture" alt="user profile img" class="img-fluid rounded-circle"
                style="object-fit: cover; object-position:center; width:5rem; height:5rem;">
            <h5 class="text-center">
                <strong>{{user?.pseudo}}</strong>
            </h5>
            <p class="m-0 text-center">{{user?.firstName}}</p>
            <p class="m-0 text-center">{{user?.lastName}}</p>
            <p class="m-0 text-center"><i>membre depuis le {{user?.subscriptionDate|date:"dd/MM/yyyy"}}</i></p>
            <div class="d-flex flex-row">
                <img src="../assets/delete.png" alt="" class="m-1 img-fluid"
                    style="object-fit: cover; object-position: center ;width: 2rem; height: 2rem;">
                <img src="../assets/role.png" alt="" class="m-1 img-fluid "
                    style="object-fit: cover; object-position: center ;width: 2rem; height: 2rem;">
            </div>
            <p *ngIf="user.teamInCommon" class="fs-6 text-danger mt-2"><i>Equipe(s) en commun</i></p>
            <p *ngIf="!user.teamInCommon" style="visibility:hidden">E</p>
        </div>
    </div>
</div>
<div *ngIf="!this.listUsers" class="d-flex">
    <app-spin-loader-component class="ms-auto me-auto mt-5"></app-spin-loader-component>
</div>



    <!-- Champ input de type text
    - On crée une variable référencée
    - Lorsque la touche entrée est tapée, le pseudo-évènement
      keyup.enter et émis et appelle selectUser 
      en récupérant la valeur du champ   -->
    <!-- <input #input (keyup.enter)="selectUser(input.value)" type="number">

<p *ngIf="selectedUser">
    Vous avez sélectionné l'utilisateur {{selectedUser.firstName}}
</p>
<p *ngIf="!selectedUser">
    L'utilisateur n'existe pas
</p> -->