<div class="fixed-bottom d-flex flex row bg-body-tertiary">
    <hr style="width: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;" class="ms-auto me-auto">
    <div class="d-flex flex-row">
        <div class="ms-auto col-4">
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex flex-row text-black justify-content-center" style="gap:1rem">
                    <a>Mentions légales</a>
                    <a>Politique de confidentialité</a>
                    <a>Cookies</a>
                </div>
                <div>© 2024 Inote, Inc</div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column align-items-end me-2 mb-2">
                <div>Suivez-nous sur les réseaux sociaux</div>
                <div class="d-flex flex-row">
                    <a href="https://www.facebook.com"><img src="../../../assets/facebook.svg" alt="logo facebook"
                            style="width:2rem;"></a>
                    <a href="https://www.instagram.com"><img src="../../../assets/instagram.svg" alt="logo instagram"
                            style="width:2rem;"></a>
                    <a href="https://www.linkedin.com"><img src="../../../assets/linkedin.svg" alt="logo linkedin"
                            style="width:2rem;;"></a>
                    <a href="https://www.twitter.com"><img src="../../../assets/x.svg" alt="logo x"
                            style="width:2rem;;"></a>
                    <!-- <a href="https://www.twitter.com"><img src="../../../assets/x.svg" alt="logo x"
                            style="width:2rem;filter: invert(100%);"></a> -->
                </div>
            </div>
        </div>
    </div>
</div>