<div class="blackBoard flex flex-column" style="height:100vh">
    <div class="d-flex flex-row mb-2 me-3">
        <div class=" mt-4 d-flex flex-column  ms-auto">
            <button (click)="goToLoginPage()" class="btn btn-success border border-white"> Se connecter</button>
            <div class="text-white">(testez le mode démo)</div>
        </div>
        <div class=" ms-2 mt-4 d-flex flex-column justify-content-start">
            <button class="btn btn-success border border-white"> Se Déconnecter</button>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
        <img src="../../../assets/logo-alone.png" alt="Inote logo">
        <div class="title text-white ms-">Inote</div>
    </div>
    <div class="ms-5 d-flex flex-column">
        <div class="mt-5 fs-1 fw-bold text-white">N'oubliez plus rien</div>
        <div class="fs-3 text-white">La plateforme leader du partage de notes</div>
        <div class="d-flex flex-row mt-3">
            <input type="email" class="rounded-start  w-25" placeholder="Adresse email">
            <div class="bg-success border border-white rounded-end text-white ps-3 pe-3">Créer un compte</div>
        </div>
    </div>
</div>